.projects {
  padding: 3rem 0;
  background-color: hsl(210, 10%, 15%);
  color: hsl(45, 20%, 95%);
  min-height: 100vh;
  display: flex;
}

.projects__container {
  max-width: 1200px;
  min-width: 256px;
  margin: 0 auto;
  padding: 0 2rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.projects__title {
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  background: linear-gradient(to right, hsl(35, 100%, 50%), hsl(180, 60%, 40%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  align-self: flex-start;
}

.projects__subtitle {
  font-size: 3rem;
  font-weight: 700;
  margin: 1rem 0;
}

.projects__description {
  font-size: 1.2rem;
  color: hsl(220, 30%, 85%);
  margin-bottom: 3rem;
}

.projects__cards {
  display: flex;
  min-width: 256px;
  gap: 2rem;
}

.projects__card {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.projects__card-content {
  background-color: hsl(30, 100%, 50%);
  border-radius: 15px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.projects__card-content:hover {
  transform: translateY(-10px);
  background-color: hsl(30, 90%, 45%);
}

.projects__card-image {
  border-radius: 15px 15px 0 0;
  min-height: auto;
}

.projects__card-title {
  position: absolute;
  padding: 1rem;
  top: 0;
  left: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: hsl(45, 20%, 95%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px 15px 0 0;
  width: 100%;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.projects__card-description {
  margin-top: auto;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 0 0 15px 15px;
  color: hsl(45, 20%, 95%);
}

.projects__card-buttons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}

.projects__button {
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: hsl(210, 100%, 45%);
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

/* Modifier: projects__button-frontend */
.projects__button-frontend {
  background-color: hsl(180, 50%, 45%);
}

.projects__button-frontend:hover {
  background-color: hsl(180, 50%, 35%);
}

/* Modifier: projects__button-backend */
.projects__button-backend {
  background-color: hsl(35, 100%, 50%);
}

.projects__button-backend:hover {
  background-color: hsl(35, 100%, 40%);
}

@media (max-width: 768px) {
  .projects__cards {
    flex-wrap: wrap;
  }
}

@media (max-width: 425px) {
  .projects__subtitle {
    font-size: 2rem;
  }
}
